- name: "install python for Ansible."
  become: true
  apt:
    name: ["python3"]
    state: latest
    update_cache: yes

- name: "install node.js"
  become: true
  apt:
    name: ["nodejs"]
    state: latest
    update_cache: yes

- name: "install npm"
  become: true
  apt:
    name: ["npm"]
    state: latest
    update_cache: yes

- name: "install pm2"
  become: true
  npm:
    name: pm2
    global: yes
    production: yes
    state: present
